.switchWrapper {
  @keyframes show-up {
    from {top: 200px;}
    to {top: 0px;}
  }

  > :first-child ~ * {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    animation-name: show-up;
    animation-duration: 2.5s;
    animation-timing-function: ease;
  }
}
